.container {
    width: 100vw;
    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 20px;

}

h2 {
    font-size: 25px;
    color: #577c8e;

}

h1 {
    font-size: 40px;
    text-align: center;
    color: #577c8e;

}

@media screen and (max-width: 765px) {
    h1 {
        font-size: 40px;
    }
}